body {
    text-align: center;
    font-weight: bolder;
font-family: 'Montserrat', sans-serif;
}

.navbarcontainer {

    background-color: #6e88e5;
    padding-top: 2rem;
    padding-right: 8rem;
    padding-bottom: 0.4rem;
}

.navbar-brand {
    padding-left: 9rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 3.1rem;
}

/* add some space to the navbar item */
.nav-item {
    margin: 0 1.3rem;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
    color: white;
}



.gamesection {
    margin-top: 6rem;
}

#board {
    position: relative;
    width: 33.899rem;
    height: 32.4rem;
    margin: 3rem 4rem 4rem 5.5rem;
    display: flex;
    flex-wrap: wrap;
    z-index: 2;
}

.completedtile {
    background-color: rgb(186, 222, 243);
}

.tile {
    width: 57.6px;
    height: 57.6px;
    border-width: 1.2px;
    border-style: solid;
    border-color: rgb(162, 208, 246);
    color:rgb(62, 62, 106);
    /* Text */
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width:1413px) {
    .col {
        margin: auto;
    }

    #board {
        margin: 3rem auto auto auto;
    }

    .rightsection,
    .leftsection {
        margin-top: 3rem;
    }
}

@media (max-width: 518px) {
    #board {
        position: relative;
        width: 28.5rem;
        height: 27rem;
        display: flex;
        flex-wrap: wrap;
        z-index: 2;
    }

    .tile {
        width: 3rem;
        height: 3rem;
        border-width: 0.05rem;
        border-style: solid;
        border-color: rgb(162, 208, 246);
        /* Text */
        font-size: 1rem;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
    }

}

.horizontallines {
    border-bottom-color: rgb(15, 101, 171);
    border-bottom-width: 1.8px;
}

.verticallines {
    border-right-color: rgb(15, 101, 171);
    border-right-width: 1.8px;

}

.rightsection {
    margin-top: 2.8rem;
    margin-left: 0.5rem;
}

/* newgame button + panel below */
.startgame {
    position: relative;
}

.newgamebutton {
    margin-bottom: 2.5rem;
}

#digits {
    width: 540px;
    height: 60px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.digit {
    width: 52.8px;
    border-width: 1.2px;
    border-radius: 12px;
    border-color: rgb(162, 208, 246);
    background-color: rgb(204, 216, 249);
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    padding-top: 12.5px;
    margin: 3.4px;
}

@media (max-width: 518px) {
    #digits {
        width: 378px;
        height: 20px;
    }

    .digit {

        width: 37px;
        border-width: 1.2px;
        border-radius: 5px;
        margin: 1.5px;
    }

}

.selectedDight {
    background-color: rgba(108, 177, 220, 0.903);
}

.correctanswer {
    background-color: rgb(132, 203, 132);
}

.wronganswer {
    background-color: rgb(221, 117, 117);
}

/* result and submit section */
#result {
    position: relative;
    width: 25rem;
    height: 11.5rem;
    border-style: dashed;
    border-width: 4.2px;
    border-radius: 20px;
    border-color: #768feb;
    margin: 4.5rem auto auto auto;


}

#wrongmoves {
    color: rgb(84, 84, 142);
    font-size: 3rem;
    padding-top: 1.2rem;

}

#errors {
    color: rgb(127, 113, 171);
    font-size: 3rem;
    margin-top: 1.2rem;


}

.submitbutton,
.newgamebutton {
    background-color: #6a85e8;
    /* Green */
    border: none;
    border-radius: 12px;
    color: white;
    padding: 0.7rem 43px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5rem;
}

.submitbutton {
    margin-top: 3rem;
}

.changebuttoncolor {
    background-color: #4b5fa6;
}
.text-center{
    margin-top:8rem;
    background-color: #6e88e5;
    color: white;
}


