
body {
    text-align: center;

    font-weight: bolder;
}

.navbarcontainer {

    background-color: #6e88e5;
    padding-top: 2rem;
    padding-right: 8rem;
    padding-bottom: 0.4rem;
}

.navbar-brand {
    padding-left: 9.052rem;
    font-family: 'Montserrat', sans-serif;
    font-style: bold;
    font-size: 3.1rem;
}

/* add some space to the navbar item */
body{
font-family: 'Montserrat', sans-serif;
}
.nav-item {
    margin: 0 1.3rem;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
    color: white;
}
.text-center{
    background-color:  #9bacea;
    color: white;
}