.title{
    background-color: #6e88e5;
    color: white;
    text-align: left;
    font-weight: bolder;
    font-size:4.5rem;
    padding:5% 11%;
}
.title-image{
   margin-left:10rem;
   padding-bottom:1.8rem;
    width:68%;
    transform: rotate(27deg);
}
h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    font-weight: bolder;
    line-height: 1.5;
    color:white;
}

/* if using margin in the css box below, it would seperate the whole row into two parts */
.feature{

    background-color:white;
}
.feature-sec{
    padding:10% 7%;
    position:relative;
    z-index:10;
    text-align: center;

}
.feature-sec p{
font-family: 'Montserrat', sans-serif;
    color:rgb(191, 188, 188);
}
.feature-title{
font-family: 'Pacifico', cursive;
color:rgb(71, 67, 121);
padding:1.3rem;
}

.icon {
  color: #899bde;
  margin-bottom: 1.5rem;
}

.icon:hover {
  color:#6c85dd;
}

.rules{
  background-color:  #9bacea;
  padding: 7% 10%;
  color: white;
  line-height: 2.1;
}
.rules-sec{
  padding:5% 7%;
  font-family: 'Montserrat', sans-serif;
}
.rules-title{
  font-weight:bolder;
  font-family: 'Montserrat', sans-serif;
  color: white;
  text-align: center;
  padding-top:2% ;
  padding-bottom: 2%;
}
.refer{
color:white;
}
.text-center{
    background-color:  #9bacea;
    color: white;
}