body{
background-color:#6e88e5;
    color: white;

}
.inputsec{
padding:12% 1% 12% 6%;
text-align: left;
}


.form-control, .btn{
width:80%;
margin-bottom:2rem;
}
.btn{
background-color:#4959e7;
border-style:none;
font-weight:bolder;
font-family: 'Montserrat', sans-serif;
}











 .text-center{
    background-color: #6e88e5;
    color: white;
}