{% extends "base.html" %}

{% block title %}Ranking{% endblock %}

{% block head %}
    <script type="text/javascript">
        window.onload = function () {
            populateData({{ context.json|safe }})
        }

        function populateData(packJson) {
            var cnt = 0;
            for (var i = 0; i < packJson.length; i++) {
                cnt++;
                $("#ranking > tbody").append("<tr></tr>");
                $("#ranking tr:last").append("<td>" + cnt + "</td>");
                $("#ranking tr:last").append("<td>" + packJson[i].username + "</td>");
                $("#ranking tr:last").append("<td>" + packJson[i].wrong_moves + "</td>");
            }

        }
    </script>
{% endblock %}

{% block body %}

    <div id="dataid" d="{{ context.json }}" style="display:none"></div>

    <section class="container-fluid p-5 ">
        <div class="container">
            <table id="ranking" class="table table-hover text-center" width="100%">
                <thead>
                <tr>
                    <th>No.</th>
                    <th>Name</th>
                    <th>Wrong Moves</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>

    </section>



{% endblock %}

