{% extends "base.html" %}

{% block title %}Register{% endblock %}

{% block head %}
 <link rel="stylesheet" href="{{ url_for('static',filename='css/register.css') }}">
{% endblock %}

{% block body %}
    <div class="row mt-2">
        <div class="col"></div>
        <div class="col">
            <form method="post" action="{{ url_for("user.register") }}">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Username</label>
                    <input type="text" name="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Password</label>
                    <input type="password" name="password" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Confirm Password</label>
                    <input type="password" class="form-control" name="password_confirm">
                </div>
                <div class="mb-3 d-grid">
                    <button type="submit" class="btn btn-primary">Sign Up</button>
                </div>
                {% for message in get_flashed_messages() %}
                    <div class="mb-3 text-danger">
                        {{ message }}
                    </div>
                {% endfor %}
            </form>
        </div>
        <div class="col"></div>
    </div>
{% endblock %}